{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Cheese{% endblock title %}

{% block content %}
  <h1>Add Cheese</h1>
  <form action="{% url 'cheeses:add' %}" method="post">
    {% csrf_token %}

    <!-- to make forms look better use django-crispy-forms -->
    <!-- by deafult it converts forms to use Bootstrap -->
    <!-- replace the old {{ form.as_p }} with this... -->
    {{ form|crispy }}
    <button type="submit" class="btn btn-warning">Save</button>
  </form>
{% endblock content %}
